{% block doc -%}
<!DOCTYPE html>
<html>
{%- block html %}
  <head>
    {%- block head %}
      <title>{% block title %}{% endblock title %}{{ title|default }}</title>
      {%- block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- endblock metas %}

      <link rel="shortcut icon" href="{{ url_for('static', filename='images/jinx256.png') }}">

      {%- block styles %}
      <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/icon.min.css') }}" rel="stylesheet">
      {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body>
    {% block body -%}
      {% block navbar %}
      {%- endblock navbar %}

      {% block header -%}
      {%- endblock header %}

      {% block content -%}
      {%- endblock content %}

      {% block scripts %}
      {%- endblock scripts %}

{% block flash %}
  <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %} -->
{% endblock %}

    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}