{% extends "main.html" %}

{% block title -%}{{ article.title }} - 醉了醉了~{%- endblock %}

{% block styles -%}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/markdown.css') }}"/>
  <style>
    .post-title {
      text-align: center;
      font-size: 22px;
    }
    .post-meta {text-align: center;}
    .post-body {padding: 0;}
    /*.side-nav,.post-toc {display: block;}*/
    /*.blog-tags,.profile {display: none;}*/
  </style>
{%- endblock styles %}

{% block main -%}
  <div class="main">        
    <div class="post-item site-box">
      <h1 class="post-title">
        {{ article.title }}
      </h1>
      <div class="post-meta">
        <span class="post-time"><i class="demo-icon icon-calendar"></i> 发表于 {{ article.createDatetime }}</span>
        <span class="post-category">
          <i class="demo-icon icon-folder-empty"></i> 分类于
          <a href="{{ url_for('main.category', name=article.category.name)}}">{{ article.category.name }}</a>
        </span>
      </div>
      <div id="content" class="post-body">
        {{ article.content }}
      </div>
      <div class="post-tags">
        {% for tag in tags %}
          <a href="{{ url_for('main.tag', name=tag.name)}}"><i class="demo-icon icon-tags"></i>{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{%- endblock main %}

{% block toc -%}
<div class="post-toc site-box">
  <div class="toc-list">
      <ol id="toc"></ol>
  </div>
</div>
{%- endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/static/js/comment.js"></script>
  <script src="/static/lib/jquery.min.js"></script>
  <script src="/static/js/myToc.js"></script>
  <script type="text/javascript">
      var sticky = new Sticky(".side-content", {
                  // 表示距离顶部 20px 的时候就固定
                  offset: 20
              });
      // donate button
      var donateBtn = document.getElementsByClassName('donate-btn')[0];
      var donateImg = document.getElementsByClassName('donate-img')[0];
      donateBtn.onclick = function() {
          if (donateImg.style.display === 'none') {
              donateImg.style.display = 'block';
          } else {
              donateImg.style.display = 'none';
          }
      };
      // toc
      $("#toc").toc({content: "div#content", headings: "h2,h3,h4"});
  </script>
  <script>
  function getViewCount(id) {
      var request;
      if (window.XMLHttpRequest) {
          request = new XMLHttpRequest();
      } else {
          request = new ActiveXObject('Microsoft.XMLHTTP');
      }
      request.onreadystatechange = function () { // 状态发生变化时，函数被回调
          if (request.readyState === 4) {
              if (request.status === 200) {
                  respText = JSON.parse(request.responseText);
                  viewSpans.innerHTML += respText.count;
              } else {
                  console.log('Ajax fail');
              }
          }
      };
      request.open('GET', '/api/view/post/'+id);
      request.send();
  }

  var viewSpans = document.getElementsByClassName('post-view-count')[0];
  var postId = viewSpans.attributes["postid"].value;
  getViewCount(postId)
  </script>
{% endblock scripts %}
