{% extends 'base.html' %}

{%- block metas %}
  {{ super() }}
  <meta name="description" content="">
{%- endblock metas %}

{%- block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/mobile.css') }}" rel="stylesheet" media="(max-width: 960px)">
  <link href="{{ url_for('static', filename='css/fontello.css') }}" rel="stylesheet">
  <style type="text/css">
    .side-nav {display: none;}
  </style>
{%- endblock styles %}

{% block header -%}
  <div id="header" class="site-header headroom">
    <!-- PC -->
    <div class="site-wrap">
      <div class="site-logo">
        <a href="/" class="logo">
          醉了醉了~
        </a>
        <span>Arrack的博客</span>
      </div>
      <div class="site-nav">
        <ul id="menu" class="menu">
          {% if current_user.is_authenticated %}
            <li class="menu-item category-nav"><a href="#">{{ current_user.nickName }}</a>
              <ul class="drop">
                <li>
                  <a href="{{ url_for('auth.logout') }}" class="drop-item">
                    注销
                  </a>
                </li>
              </ul>
            </li>
          {% endif %}
          <li class="menu-item search-nav"><span class="search-btn">搜索</span>
            <div class="search" style="display: none;">
              <form action="/search/" method="post">
                  <i class="demo-icon icon-search"></i>
                  <input id="csrf_token" name="csrf_token" type="hidden" value="IjkwMDIwZDkwM2QzMGZiNmNiZGYyZDQ1ZDBmMGZlZTRlYTZhZmE2Yzci.XsyMDg.SI--Xk1lP_tj64pWe5644K584F4">
                  <input class="search-ipt" id="search" name="search" placeholder="Search..." type="text" value="">
              </form>
            </div>
          </li>
          
          <li class="menu-item">
            <a href="{{ url_for('main.about') }}">关于</a>
          </li>
          
          <li class="menu-item"><a href="{{ url_for('main.talks') }}">说说</a></li>
          <li class="menu-item category-nav"><a href="#">分类</a>
            <ul class="drop">
              {% for cate in Category.query.all() %}
              <li>
                <a href="{{ url_for('main.category', name=cate.name) }}" class="drop-item">
                  {{ cate.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="menu-item"><a href="{{ url_for('main.index') }}">首页</a></li>
        </ul>
        <div class="clear"></div>
      </div>

    </div>
    <!-- width < 960px -->
    <div class="mobile-menu-btn">
        <button>
          <span class="btn-bar"></span>
          <span class="btn-bar"></span>
          <span class="btn-bar"></span>
        </button>
        <button class="mobile-user"><i class="icon-user"></i></button>
    </div>
    <div class="mobile-site-logo">
      <a href="/">
        醉了醉了~
      </a>
      <span>Arrack的博客</span>
    </div>
    <div class="mobile-site-nav" style="display: none;">
      <ul>
          <li>
            <a class="mobile-nav-item" href="{{ url_for('main.index') }}">
              <i class="demo-icon icon-home"></i> 首页
            </a>
          </li>
          <li>
            <a class="mobile-nav-item mobile-category" href="#">
              <i class="demo-icon icon-book"></i> 分类
            </a>
            <ul class="mobile-drop-category" style="display: none;">
              {% for cate in Category.query.all() %}
              <li>
                <a href="{{ url_for('main.category', name=cate.name)}}" class="mobile-drop-item">
                  {{ cate.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a class="mobile-nav-item" href="/archives/">
              <i class="demo-icon icon-box"></i> 归档
            </a>
          </li>
          <li>
            <a class="mobile-nav-item" href="/shuoshuo">
              <i class="demo-icon icon-comment-empty"></i> 说说
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.about') }}" class="mobile-nav-item mobile-add-page"> 关于</a>
          </li>
          
          <li>
          <div class="mobile-search">
            <i class="demo-icon icon-search"></i>
            <form action="/search/" method="post">
              <input id="csrf_token" name="csrf_token" type="hidden" value="IjkwMDIwZDkwM2QzMGZiNmNiZGYyZDQ1ZDBmMGZlZTRlYTZhZmE2Yzci.XsyMDg.SI--Xk1lP_tj64pWe5644K584F4">
              <input id="search" name="search" placeholder="Search..." type="text" value="">
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
{%- endblock header %}

{% block content -%}
  <div class="site-wrap main-container">
    {% block main -%}
    {%- endblock main %}

    {% block sidebar -%}
      <div class="sidebar">
        <div id="mobile-user" class="side-content">
          <div class="side-nav">
            <span class="current">文章目录</span>
            <span>站点概览</span>
          </div>
          <div class="profile site-box">
            <div class="master-image">
                <img class="profile-avatar" src="{{ url_for('static', filename='images/tree.jpeg')}}" alt="author">
                <div class="master-info">
                    <p class="profile-master">Arrack</p>
                    <p class="master-description">
                      别怂，别懒
                    </p>
                </div>
            </div>

            <div class="new-shuo">
              <a href="{{ url_for('main.talks') }}">
                <p>{{ Talk.query.first().content }}</p>
              </a>
            </div>

            <div class="blog-info">
              <ul>
                <li><a href="/archives/">
                  <strong>40</strong>
                  <span>文章</span>
                </a></li>
                <li><a href="/friends">
                  <strong>2</strong>
                  <span>朋友</span>
                </a></li>
                <li class="last-li"><a href="/page/guestbook/">
                  <strong>31</strong>
                  <span>留言</span>
                </a></li>
              </ul>
            </div>

            <div class="social-links">
              <ul>
                <li>
                  <a class="add-link" href="https://www.yukunweb.com/column" target="_blank">
                    专题
                  </a>
                </li>
                
                <li>
                  <a class="add-link" href="https://github.com/Arrackisarookie" target="_blank">
                    Github
                  </a>
                </li>
              </ul>
              <div class="clear"></div>
            </div>

            <div id="rss">
              <a href="/atom.xml"><i class="demo-icon icon-rss"></i> RSS</a>
            </div>

            <div class="love-me">
              <div class="love-title">你喜欢我吗</div>
              <div class="love-me-con">
                <span class="love-me-icon">
                  <i class="demo-icon icon-heart-empty"></i>
                  <span class="love-me-count">3363</span>
                </span>
              </div>
              <div class="clear"></div>
            </div>
          </div>

          {% block toc -%}
          {%- endblock %}

          <div class="blog-tags site-box">
            <div class="side-title"><i class="demo-icon icon-tags"></i> 标签</div>
              <ul>
                {% for t in Tag.query.all() %}
                <li><a href="{{ url_for('main.tag', name=t.name)}}">{{ t.name }}</a></li>
                {% endfor %}
              </ul>
            <div class="clear"></div>
          </div>  
        </div>
      </div>
    {%- endblock sidebar %}
    <div class="clear"></div>
  </div>
{%- endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/myStorage.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/headroom.min.js') }}"></script>
  <script>
    // headroom
    var header = new Headroom(document.getElementById("header"), {
        tolerance: 0,
        offset : 70
    });
    header.init();

    var sticky = new Sticky(".ads_plugin", {
        // 表示距离顶部 20px 的时候就固定
        offset: 10
    });
  </script>
  <script>
    var addPage = document.getElementsByClassName('mobile-add-page');
    for (var p=0; p<addPage.length; p++) {
        var text = addPage[p].innerText;
        if (text === ' 关于') {
            addPage[p].innerHTML = '<i class="demo-icon icon-user"></i>' + text;
        } else if (text === ' 留言') {
            addPage[p].innerHTML = '<i class="demo-icon icon-comment-empty"></i>' + text;
        } else {
            addPage[p].innerHTML = '<i class="demo-icon icon-globe"></i>' + text;
        }
    }

    var addLink = document.getElementsByClassName('add-link');
    for (var l=0; l<addLink.length; l++) {
        var link = addLink[l].innerText;
        if (link === 'Github' || link ==='github') {
            addLink[l].innerHTML = '<i class="demo-icon icon-github-circled"></i>' + ' ' + link;
        } else if (link === '微博') {
            addLink[l].innerHTML = '<i class="demo-icon icon-weibo"></i>' + ' ' + link;
        } else {
            addLink[l].innerHTML = '<i class="demo-icon icon-globe"></i>' + ' ' + link;
        }
    }
  </script>
{% endblock scripts %}
