{% extends "main/base.html" %}

{%- block styles %}
  {{ super() }}
  <style>
    .side-nav {display: none;}
  </style>
{%- endblock styles %}

{% block main -%}
  <div class="main">             
  <div class="category site-box">分类：<strong>生活</strong></div>
  <div class="category-post site-box">
    <ul>
      <li>
          2018-04-29
          <a href="/2018/4/split-life/">
              分裂
          </a>
      </li>
      
      <li>
          2018-01-01
          <a href="/2018/1/what-age-what-words/">
              什么年龄说什么话
          </a>
      </li>
      
      <li>
          2017-09-23
          <a href="/2017/9/rained-all-night/">
              雨下一整晚
          </a>
      </li>
      
      <li>
          2017-08-27
          <a href="/2017/8/August-things/">
              八月
          </a>
      </li>
      
      <li>
          2017-06-20
          <a href="/2017/6/busy-life/">
              忙忙碌碌
          </a>
      </li>
      
      <li>
          2017-06-02
          <a href="/2017/6/walking-world-is-monster/">
              行走世间都是妖怪
          </a>
      </li>
      
      <li>
          2017-05-25
          <a href="/2017/5/May-things/">
              五月的事
          </a>
      </li>
    </ul>
  </div>
  </div>
{%- endblock main %}

{% block sidebar -%}
  <div class="sidebar">
    <div id="mobile-user" class="side-content">
      <div class="side-nav">
        <span class="current">文章目录</span>
        <span>站点概览</span>
      </div>
      <div class="profile site-box">
          <div class="master-image">
              <img class="profile-avatar" src="/static/images/yinshi.jpg" alt="author">
              <div class="master-info">
                  <p class="profile-master">俞坤</p>
                  <p class="master-description">
                      克制力，执行力
                  </p>
              </div>
          </div>

          <div class="new-shuo">
              <a href="/shuoshuo">
                  <p>突然想到我还有个博客</p>
              </a>
          </div>

          <div class="blog-info">
              <ul>
                  <li><a href="/archives/">
                      <strong>40</strong>
                      <span>文章</span>
                  </a></li>
                  <li><a href="/friends">
                      <strong>2</strong>
                      <span>朋友</span>
                  </a></li>
                  <li class="last-li"><a href="/page/guestbook/">
                      <strong>31</strong>
                      <span>留言</span>
                  </a></li>
              </ul>
          </div>

          <div class="social-links">
              <ul>
                  
                  <li>
                      <a class="add-link" href="https://www.yukunweb.com/column" target="_blank">专题</a>
                  </li>
                  
                  <li>
                      <a class="add-link" href="https://github.com/Blackyukun" target="_blank">Github</a>
                  </li>
                  
              </ul>
              <div class="clear"></div>
          </div>

          <div id="rss">
              <a href="/atom.xml"><i class="demo-icon icon-rss"></i> RSS</a>
          </div>

          <div class="love-me">
              <div class="love-title">你喜欢我吗</div>
              <div class="love-me-con">
                  <span class="love-me-icon">
                      <i class="demo-icon icon-heart-empty"></i>
                      <span class="love-me-count">3363</span>
                  </span>
              </div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="post-toc site-box">
          <div class="toc-list">
              <ol id="toc"></ol>
          </div>
      </div>

      <div class="blog-tags site-box">
        <div class="side-title"><i class="demo-icon icon-tags"></i> 标签</div>
          <ul> 
            <li><a href="/tag/Docker/">Docker</a></li>
            
            <li><a href="/tag/Flask/">Flask</a></li>
            
            <li><a href="/tag/JS/">JS</a></li>
            
            <li><a href="/tag/MongoD/">MongoD</a></li>
            
            <li><a href="/tag/nginx/">nginx</a></li>
            
            <li><a href="/tag/Python/">Python</a></li>
            
            <li><a href="/tag/ubuntu/">ubuntu</a></li>
            
            <li><a href="/tag/VueJS/">VueJS</a></li>
            
            <li><a href="/tag/web%E5%BC%80%E5%8F%91/">web开发</a></li>
            
            <li><a href="/tag/%E6%8A%80%E6%9C%AF/">技术</a></li>
            
            <li><a href="/tag/%E6%BA%90%E7%A0%81/">源码</a></li>
            
            <li><a href="/tag/%E7%88%AC%E8%99%AB/">爬虫</a></li>
            
            <li><a href="/tag/%E7%94%9F%E6%B4%BB/">生活</a></li>
            
            <li><a href="/tag/%E7%94%B5%E5%BD%B1/">电影</a></li>
            
            <li><a href="/tag/%E7%AC%94%E8%AE%B0/">笔记</a></li>
            
            <li><a href="/tag/%E7%AE%97%E6%B3%95/">算法</a></li>
            
            <li><a href="/tag/%E9%9A%8F%E7%AC%94/">随笔</a></li>
            
            <li><a href="/tag/%E9%9F%B3%E4%B9%90/">音乐</a></li>
          </ul>
        <div class="clear"></div>
      </div>  
    </div>

    <div class="ads_plugin">
      <div class="my-plugin">
        <div class="plugin-body">
          <a href="https://s.click.taobao.com/odhkXPw" target="_blank"><img src="https://www.yukunweb.com/static/upload/aliyun3.jpg" style="width:230px"></a>
        </div>
      <div class="clear"></div>
      </div>    
    </div>
  </div>
{%- endblock sidebar %}
