{% extends "main/base.html" %}

{% block title -%}{{ category.name }} - 醉了醉了~{%- endblock %}

{% block main -%}
  <div class="main">             
  <div class="category site-box"><strong>{{ category.name }}</strong></div>
  <div class="category-post site-box">
    <ul>
    {% for article in category.articles %}
      <li>
        {{ article.createDatetime }}
        <a href="{{ url_for('main.article', aid=article.id) }}">
          {{ article.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  </div>
{%- endblock main %}
