{% extends "main/base.html" %}
{% import "/main/_macros.html" as macros %}

{% block title -%}说说 - 醉了醉了~{%- endblock %}

{%- block styles %}
  {{ super() }}
  <style>
    .post-item .post-meta {margin: 5px 0 15px 0;}
    .post-item h1.post-title {
      font-weight: 600;
      font-size: 18px;
    }
  </style>
{%- endblock styles %}

{% block main -%}
  <div class="main">
    {% if current_user.is_authenticated %}
    <div class="shuo-edit site-box">
      <div class="shuo-send">
        <form method="post">
          <div class="textarea-container">
            {{ form.content(class='ipt-txt', cols='80', rows='6', placeholder='四六八句整起来~') }}
            {{ form.submit(class='comment-submit', value='走你') }}
          </div>
          <div class="clear"></div>
          <!-- <div class="comment-emoji">
              <i class="face"></i>
              <span class="text">表情</span>
          </div> -->
        </form>
      </div>
    </div>
    {% endif %}
    <div class="shuo-content site-box">
      {% for year, vals in talks.res.items() %}
      <article>
        <h3>{{ year }}</h3>
        {% for t in vals %}
        <section>
          <span class="point-time point-orange"></span>
          <span class="date-time">{{ t.date }}</span>
          <aside>
              <p class="things"><p>{{ t.content }}</p></p>
              <p class="brief">
              <span class="mobile-date-time">{{ t.date }}</span>
              </p>
          </aside>
        </section>
        {% endfor %}
      </article>
      {% endfor %}
      {% if pagination %}
      <div class="post-page site-box">
        {{ macros.pagination_widget(pagination, 'main.talks') }}
      </div>
      {% endif %}
    </div>
  </div>
{%- endblock main %}
