{% if articles %}
  {% for article in articles %}
    <div class="post-preview">
      <a href="{{ article.url }}">
        <h2 class="post-title">{{ article.title }}</h2>
      </a>
      <p>{{ article.summary }}</p>
      <div class="post-meta">
        <div>
          <small>Category: 
            <a href="{{ url_for('blog.category', category=article.category.name)}}">{{ article.category.name }}</a>
          </small>
        </div>
        <div>
          <small>tag: 
            {% for tag in article.tags %}
              <a href="{{ url_for('blog.tag', tag=tag.name)}}">{{ tag.name }}</a>
            {% endfor %}
          </small>
        </div>
        <div class="post-time">
          <small>Posted on {{ moment(article.add_time).format('LL') }}</small>
        </div>
      </div>
    </div>
    <hr>
  {% endfor %}
{% else %}
  <div class="tip">
    <h5>No posts yet.</h5>
  </div>
{% endif %}
<!-- Pager -->
<div class="row">
  <div class="col-lg-11">
    <div class="page-footer">
      
    </div>
  </div>
</div>