{% extends "base.html" %}

{% block title %}{% block article_title %}{% endblock %} - {% endblock %}

{% block header %}
  <style type="text/css">
    header.masthead .site-heading {
      padding: 120px 0 80px;
    }

    header.masthead {
      background-image: url('{{ url_for('static', filename='images/home-bg.jpg') }}')
    }
  </style>
  
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading" style="padding: 120px 0 80px;">
            <h1 style="font-size: 50px">
              {% block article_title %}{% endblock %}</h1>
            <span class="subheading">
              {% block category %}{% endblock %}
            </span>
            <span class="subheading">
              {% block tag %}{% endblock %}
            </span>
            <span class="subheading">
              {% block summary %}{% endblock %}
            </span>
            <span class="subheading">
              {% block datetime %}{% endblock %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% block article %}{% endblock %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}