{% extends "base.html" %}

{% block title %}{{ article.title }} - {% endblock %}

{% block header %}
  <style type="text/css">
    header.masthead .site-heading {
      padding: 120px 0 80px;
    }

    header.masthead {
      background-image: url('/static/images/home-bg.jpg')
    }
  </style>
  
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading" style="padding: 120px 0 80px;">
            <h1 style="font-size: 50px">{{ article.title }}</h1>
            <span class="subheading">
              {{ article.add_time }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% block article_body %}{% endblock %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}