{% extends "base.html" %}

<!-- {% block pageTitle %}
  {{ article.title|default('Blog Title') }}
{% endblock %}

{% block pageSubTitle %}
  {{ admin.blog_sub_title }}
{% endblock %}
 -->

{% block header %}
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading" style="padding: 120px 0 80px;">
            <h1 style="font-size: 50px">{{ article.title|default('Blog Title') }}</h1>
            <span class="subheading">
              {{ admin.blog_sub_title }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ article.body }}
        </div>
      </div>
    </div>
  </article>
{% endblock %}