{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block header %}
  <style type="text/css">
    header.masthead .site-heading {
      padding: 120px 0 80px;
    }

    header.masthead {
      background-image: url('{{ url_for('static', filename='images/home-bg.jpg') }}')
    }
  </style>
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ admin.blog_title }}</h1>
            <span class="subheading">
              {{ admin.blog_sub_title }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for cat in cats %}
          <div class="post-preview">
            <a href="{{ url_for('blog.category', cat=cat.name) }}">
              <h2 class="post-title">{{ cat.name }}</h2>
            </a>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}