{% extends "base.html" %}

{% block pageTitle %}
  {{ admin.blog_title|default('Blog Title') }}
{% endblock %}

{% block pageSubTitle %}
  {{ admin.blog_sub_title|default('Blog Subtitle') }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for article in articles %}
          <div class="article-preview">
            <a href="{{ url_for('blog.article', article_id=article.id) }}">
              <h2 class="article-title">{{ article.title }}</h2>
            </a>
            <p>{{ article.body|striptags|truncate }}</p>
            <div class="article-meta">
              <div>
                <small>Comments: {{ article.comments|length }}</small>
                <small>Category: {{ article.category.name }}</small>
              </div>
              <div class="article-time">
                <small>Posted on {{ article.timestamp }}</small>
              </div>
            </div>
          </div>
          <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}