{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block header %}
  <style type="text/css">
    header.masthead {
      background-image: url('{{ url_for('static', filename='images/home-bg.jpg') }}')
    }
  </style>

  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ admin.blog_title }}</h1>
            <span class="subheading">
              {{ admin.blog_sub_title }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  {% include 'blog/_articles.html' %}
{% endblock %}