{% extends 'blog/base.html' %}

{%- block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{%- endblock styles %}

{% block navbar %}
  <nav class="navbar fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">{{ title }}</a>
    </div>
  </nav>
{%- endblock navbar %}

{% block header -%}
  <header>
    <h1 class="text-center display-4">
      <a class="text-success" href="{{ url_for('blog.talktalk') }}"><strong>话唠</strong></a>
    </h1>
  </header>
{%- endblock header %}

{% block main_content -%}

  {% if current_user.is_authenticated %}
    {% for message in get_flashed_messages() %}
      <div class="alert alert-info">
        <button class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}

    <div class="wrap-form wrap-talk">
      <form class="form validate-form" method="post">
        {{ form.csrf_token }}

        <div class="wrap-input validate-input m-b-12" data-validate="一句不说不合适吧~">
          {{ form.content(class_="textarea", placeholder="不整两句儿？") }}
        </div>
        <div class="txt1">
          <div class="contact-form-checkbox">
            {{ form.private(class_="input-checkbox", id="private") }}
            <label class="label-checkbox fa-check" for="private">
              仅自己可见
            </label>
          </div>
        </div>
        <div class="container-form-btn">
          {{ form.submit(class_="form-btn", value="走你") }}
        </div>
        
      </form>
    </div>
  {% endif %}

  <div class="list-group">
    {% if first %}
      <a class="list-group-item list-group-item-action flex-column">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-success">
            <small class="text-muted"> # 置顶</small>
          </h5>
        </div>
        <p class="mb-1">{{ first.content }}</p>
      </a>
    {% endif %}
    {% for talk in talks %}
      <a class="list-group-item list-group-item-action flex-column">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-success">
            <small class="text-muted"> #{{ loop.revindex }}</small>
          </h5>
        </div>
        <p class="mb-1">{{ talk.content }}</p>
      </a>
    {% endfor %}
  </div>
{%- endblock main_content %}
