{% extends "blog/base.html" %}

{% block title %}{{ about.title }} - {% endblock %}

{%- block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/markdown.css') }}" rel='stylesheet'>
  <style type="text/css">
    header.masthead {
      background-image: url('/static/images/railway1.jpg')
    }
  </style>
{%- endblock styles %}


{% block header_content %}
  <div class="site-heading">
    <h1>{{ about.title }}</h1>
    <span class="subheading">
      {{ about.slogan }}
    </span>
  </div>
{% endblock header_content %}

{% block main_content %}
  {{ about_body | safe }}
{% endblock main_content %}