{% extends "base.html" %}

{% from 'bootstrap/form.html' import render_form %}

{% block header %}
  <style type="text/css">
    header.masthead {
      background-image: url('/static/images/home-bg.jpg')
    }
  </style>

  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>上传文章</h1>
            <span class="subheading">
              上传 markdown 文件
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ render_form(form) }}

      <p>上传文件可能需要一些时间，请耐心等待哦。</p>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>

{% endblock %}
