{% block doc -%}
<!DOCTYPE html>
{% block html -%}
  <html>
    {% block head -%}
      <head>
        {% block title %}<title></title>{% endblock title %}

        {% block metas -%}
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
          <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
          <meta name="author" content="">
        {%- endblock metas %}

        {% block icon -%}
          <link rel="shortcut icon" href="{{ url_for('static', filename='images/jinx256.png') }}">
        {%- endblock icon %}

        {% block styles -%}
        {%- endblock styles %}
      </head>
    {%- endblock head %}
    {% block body -%}
      <body>
        <div class="container">
          {% block flash -%}
            <!-- {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %} -->
          {% endblock %}

          {% block header -%}
          {%- endblock header %}

          {% block content -%}
          {%- endblock content %}

          {% block footer -%}
            <div class="footer-box">
              <div class="footer">
                <div class="copyright">
                    © 2017  <i class="demo-icon icon-heart"></i>
                    <span> 俞坤</span>
                </div>
                <span class="powered-by"><a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备17028833号</a></span>

                <span>Powered by <a href="https://github.com/Blackyukun/YuBlog" target="_blank">YuBlog</a></span>
                <span class="cnzz-span"><script src="https://s22.cnzz.com/z_stat.php?id=1263956682&web_id=1263956682" language="JavaScript"></script></span>
              </div>
            </div>
          {%- endblock footer %}
        </div>

        {% block scripts -%}
        {%- endblock scripts %}
      </body>
    {%- endblock body %}
  </html>
{%- endblock html %}
{%- endblock doc %}
